.outer-container {
  display: flex;
  justify-content: center;  
  align-items: center; 
  min-height: 100vh; 
  background-color: #f4f4f4; 
}

.App {
  text-align: left; 
  background-color: #fff; 
  padding: 20px; 
  border-radius: 8px;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 80%; 
  max-width: 600px;  
}

h1 {
  font-size: 2em;
  color: #333;
  margin: 0; 
}

hr {
  width: 100%;  
  margin: 20px 0;
  border: 1px solid #ccc;
}

.container {
  margin-left: 0;  
}

p {
  font-size: 0.9em; 
  color: #555;
  margin-left: 0; 
}
